<html>

<head>
</head>

<body>
<p style="text-align:justify">
The bubble chart on the left demonstrates the relationship between child obesity rate in the United States and two socioeconomic variables – household income and race/ethnicity. The graph is created based on the median household income, race distribution of each race group, and the child obesity rate of the U.S in 2016. 
</p>
<p style="color:orange;"><b>Mouseover to reveal the numeric values of each variable of each state. </b></p>
<p style="text-align:justify"><li>	Each bubble represents each state. The size of the bubble is the child/adolescent obesity rate recorded in 2016. The CDC only publish the obesity rate of infant, children and adolescents, and thus the obesity rate of children between the age of 5 – 10 are missing. </li></p>
<p style="text-align:justify"><li>	The states are categorized based on regions with different colours. Dark blue colour represents the national average. </li></p>
<p style="text-align:justify"><li>	The x-axis is the median household income of each state, and the y-axis is the proportion of each race group selected from the menu bar. </li></p>
<hr>
<p style="text-align:justify">
The correlation between the income level and the child obesity rate is not significant. However, one interesting observation is the relationship between child obesity rate and the race proportion of African Americans. Unlike other race group, which does not impact the size of the bubble along with its movement, the states with less African American population seemed to have smaller obesity rate in comparison to states such as Louisiana or Mississippi. The correlation between the child obesity rate and proportion of African Americans in each state is, in fact, positively linearly correlated. 
</p>
</body>
</html>
