<html>
<body>
<p>
<br>American Academy of Pediatrics. (2020, June 8). The 5 Food Groups: Sample Choices. HealthyChildren.Org. https://www.healthychildren.org/English/healthy-living/nutrition/Pages/The-5-Food-Groups-Sample-Choices.aspx
<br>
<br>American Heart Association. (2018, April 17). Sugar 101. Www.Heart.Org. https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/sugar/sugar-101
<br>
<br>Bennett, J., Fry, R., & Kochhar, R. (2020, July 23). Are you in the American middle class? Find out with our income calculator. Pew Research Center. https://www.pewresearch.org/fact-tank/2020/07/23/are-you-in-the-american-middle-class/#:%7E:text=Middle%2Dincome%20households%20%E2%80%93%20those%20with,%2448%2C500%20to%20%24145%2C500%20in%202018.
<br>
<br>Bridges, M., & Zieve, D. (2020a, May 26). Facts about monounsaturated fats. Medlineplus.Gov. https://medlineplus.gov/ency/patientinstructions/000785.htm#:%7E:text=Monounsaturated%20fat%20is%20a%20type,are%20solid%20at%20room%20temperature.
<br>
<br>Bridges, M., & Zieve, D. (2020b, May 26). Facts about polyunsaturated fats. Medlineplus.Gov. https://medlineplus.gov/ency/patientinstructions/000747.htm#:%7E:text=Polyunsaturated%20fat%20is%20a%20type,and%20some%20nuts%20and%20seeds.
<br>
<br>Department of Health & Human Services. (2020, March 12). Protein. Better Health Channel. https://www.betterhealth.vic.gov.au/health/healthyliving/protein
<br>
<br>Modric, J. (2016, June 4). High/Low Phosphorus Foods, Deficiency, Blood Phosphate Levels. Nutrients Review. https://www.nutrientsreview.com/minerals/phosphorus-phosphate.html
<br>
<br>NHS website. (2020c, August 25). Calcium. Nhs.Uk. https://www.nhs.uk/conditions/vitamins-and-minerals/calcium/
<br>
<br>NHS website. (2020a, August 20). Iron. Nhs.Uk. https://www.nhs.uk/conditions/vitamins-and-minerals/iron/
<br>
<br>NHS website. (2020, August 20). Vitamin A. Nhs.Uk. https://www.nhs.uk/conditions/vitamins-and-minerals/vitamin-a/
<br>
<br>NHS website. (2020b, August 20). Vitamin C. Nhs.Uk. https://www.nhs.uk/conditions/vitamins-and-minerals/vitamin-c/
<br>
<br>Slavin, J., & Carlson, J. (2014). Carbohydrates. Advances in nutrition (Bethesda, Md.), 5(6), 760–761. https://doi.org/10.3945/an.114.006163
<br>
<br>Types of Fat. (2018, July 24). The Nutrition Source. https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/fats-and-cholesterol/types-of-fat/
<br>
<br>U.S. Department of Health and Human Services. (2019, May 22). 2019 Poverty Guidelines. ASPE. https://aspe.hhs.gov/2019-poverty-guidelines

</p>
</body>
</html>
