<html>
<body style="text-align:justify">

<p>The proportion of physically active children from the United States is similar to that of the children in Australia, but the obesity of the latter is much lower. The least physically active children, the South Korean, still have a lower obesity rate compare to the U.S. Japan, on the other hand, managed to maintain its child obesity rate lower than 10% until current days. To trace the reason behind child obesity rate in the United States, comparing and contrasting the nutrition and food intake of children from these countries could provide us some insight.</p>

<p style="color:orange;"><b>Select the comparing variable between nutrition consumption and food group consumption.</b></p> 

<p>The balloon plot on the left shows the consumption of chosen variable by children from these countries. <em>The lighter the colour and larger the ‘balloon’, the higher the consumption quantity of respective element.</em> For a better comparison of each country, the bar plot of child obesity rate from respective countries is located at the bottom. The published data from Japan and the U.S classified between 34 to 70 different food groups, but South Korea was much less elaborate and only had 12 food group included. Therefore, the comparison only includes 12 food groups.</p> 

<p><b>Food Group Comparison</b>

<br>Japanese children consume outstandingly more fruit juice and total grains in comparison to their peers in other countries, while Korean children leads in the consumption of meat and poultry. However, two distinct food group that are directly related to obesity, sugar and solid fats, are consumed the most by the children in the U.S. Additionally, the Japanese children consumed also the highest amount of vegetables in comparison to other countries.</p>

<p><b>Nutrition Consumption</b>

<br>Nutrition, in fact, portraits a clearer picture on the consumption of food, since different countries classify food group differently. Interestingly, the balloon plot is almost symmetrical since the U.S-Australia and Japan-South Korea are showing similar patterns in nutrition consumption. Since American and Australian children are taller and heavier on average compare to others, their food energy intake could be higher than Japan or South Korean children. Calcium intake of two countries are also much higher, and this could be due to less consumption of dairy products in Asia. However, phosphorous intake of the U.S and Australia are outstanding in comparison to others, and Japan consumes the least amount of this nutrient. Considering that fast food, dairy, and sweets are especially high in phosphorous, this could explain the low obesity rate in Japan in comparison to other countries.</p>

</body>
</html>
