<html>

<body>
<p style="text-align:justify"><b>Fruits:</b>
  Apples, applesauce, apricots, bananas, berries (strawberries, blueberries, raspberries), 
  figs, 100% fruit juices (unsweetened), grapefruit, grapes, kiwi fruit, mangoes, 
  melons (cantaloupe, honeydew, watermelon), nectarines, oranges, papayas, peaches, 
  pears, plums, pineapple, raisins, prunes, starfruit, tangerines. 
</p>

<p style="text-align:justify"><b>Vegetables:</b>
  <li>Dark green vegetables: bok choy, broccoli, collard greens, kale, spinach</li>
  <li>Red and orange vegetables: acorn squash, butternut squash, carrots, pumpkin, 
    red peppers, sweet potatoes
</li>
<li>Tomatoes: omatoes (canned,cooked, raw,stewed),
dried tomatoes, tomato juice, tomato paste, tomato paste, 
tomato sauce</li>
<li>Starchy vegetables: corn, green peas, potatoes</li>
<li>Other vegetables: artichokes, asparagus, avocado, bean sprouts, beets, 
  brussels sprouts, cabbage, cauliflower, celery, cucumbers, eggplant, 
  green and red peppers, jicama, mushrooms, okra, onions, snow peas, 
  string beans, tomatoes, vegetable juices, zucchini
</li>
</p>

<p style="text-align:justify"><b>Poultry, Meat, and Fish:</b>
  skinless chicken and turkey, ground chicken and turkey,
  salmon, trout, and herring are rich in omega-3 fatty acids; 
  clams, crab, lobster, mussels, octopus, oysters, scallops, 
  squid (calamari), canned tuna fish
</p>

<p style="text-align:justify"><b>Eggs,Nuts and Seeds:</b>
  chicken eggs, duck eggs,peanut butter; sunflower seeds, almonds, and hazelnuts are rich in vitamin E
</p>
<p style="text-align:justify"><b>Dairy:</b>
Low-fat milk, yogurt, cheese (such as cheddar, mozzarella, Swiss, parmesan, string cheese, cottage cheese), pudding, frozen yogurt, and ice milk. Calcium-fortified soymilk (soy beverage) is also part of the Dairy Group.</p>

</body>
</html>
