<html>

<body style="text-align:justify">

<p><b>Carbohydrate</b>: 3 different types of carbohydrate include sugar, starch, and fibre. An adult’s diet should include just over 1/3 of starchy foods, and over another third should be composed of vegetables and fruits.Carbohydrates are broken down into glucose and enters our body. If these glucoses cannot be used up fully, they are converted to fat for long-term storage for energy.</p>
<p><b>Dietary Fibre</b>: Fibre is an important part of a healthy, balanced diet. Higher intake of fibre is associated with a lower risk of cardiovascular disease, type 2 diabetes and bowel cancer.</p>

<p><b>Sugar</b>: sugars are a type of carbohydrate that occur either naturally or added as ingredients. <b>Total sugars</b> include both added and natural sugars. Added sugars are directly related to obesity if consumed over threshold, since they contribute additional calories but zero nutrients to food.</p> 

<p><b>Fat</b>: a macronutrient, includes monosaturated fat and polysaturated fat. Diet rich in unsaturated fats and rich in protein is linked to lower obesity rates. Diet rich in polysaturated fats and refined carbohydrates are linked to higher obesity rate.</p>

<p><b>Monosaturated Fat & Polysaturated Fat</b>: a type of dietary fat and are one of the healthy fats. Monosaturated fats are found in plant foods, such as nuts, and vegetable oils, while polysaturated fat is found majorly in animal foods, such as salmon. Both types of fats can help lower cholesterol levels.</p> 

<p><b>Protein</b>: human body uses amino acids from protein to build and repair muscles and bones, and to make hormones and enzymes. Typical source of protein includes lean meat, poultry, fish and seafood, dairy products, nuts, and legumes. A very high-protein diet can strain the kidney and liver.</p>


</body>
</html>
