<html>

<body, style="text-align:justify">

<p><b>Carbohydrate</b>: 3 different types of carbohydrate include sugar, starch, and fibre. An adult’s diet should include just over 1/3 of starchy foods, and over another third should be composed of vegetables and fruits.Carbohydrates are broken down into glucose and enters our body. If these glucoses cannot be used up fully, they are converted to fat for long-term storage for energy.Fibre is an important part of a healthy, balanced diet. Higher intake of fibre is associated with a lower risk of cardiovascular disease, type 2 diabetes and bowel cancer.
</p>
<p><b>Iron</b>: makes red blood cells, which carry oxygen around the body. 
Source of iron includes liver, red meat, beans, nuts, and dried fruits.</p> 

<p><b>Phosphorous</b>: work with calcium and help build stronger bones and teeth. It also helps maintain acid/base balance and is involved with the storage and use of energy. Adult between the age of 19 to 70 should aim to have 700mg of phosphorous/day. 
The richest source of phosphorus are fast-food, cheese, and canned foods. Sweets such as soft drinks, milk shakes, custard, chocolate, and pancakes are also high in phosphorous.

<p><b>Protein</b>: human body uses amino acids from protein to build and repair muscles and bones, and to make hormones and enzymes. 
Typical source of protein includes lean meat, poultry, fish and seafood, dairy products, nuts, and legumes.
A very high-protein diet can strain the kidney and liver</p> 

<p><b>Fat</b>: a macronutrient, includes monosaturated fat and polysaturated fat.
Diet rich in unsaturated fats and rich in protein is linked to lower obesity rates.
Diet rich in polysaturated fats and refined carbohydrates are linked to higher obesity rate.</li></p> 

<p><b>Vitamin A</b>: also known as retinol, improves immune system and keep skin and eyes healthy. 
Source of Vitamin A includes dairy, eggs, oily fish, fortified low-fat spreads, and liver.</p> 
<p><b>Vitamin C</b>: also known as ascorbic acid, helps protect cells, maintain healthy skin, bones and blood, and helps with wound healing. 
Source of Vitamin C includes citrus fruits, peppers, berries, broccoli, brussels sprouts, and potatoes.</p> 

</body>
</html>
