<html>

<head>
<title>Title</title>
</head>

<body>

<p>
To explore the difference in food group and nutrition consumption based on 
socioeconomic variables, the balloon chart on the right shows the consumption 
level of each and every nutrition and food group intake of each income level. 
The sunburst chart in
<b>Daily Consumption Proportion</b> compare the proportion that each nutrition 
or food group takes in a child's daily consumption of total food/nutrition,
</p>

<p style="color:orange;"><b>Select Food Group or Nutrition for comparison on the 
menu bar. The data is controlled based on the year selected with the slider.
</b></p>

<p>The income group is divided into three levels: 
<li><b>Level 1 - $0-$24,999:
</b>assuming that one household has three family members, including a single kid. 
The poverty threshold in 2019 for a three-person household is set at $20,420. 
This income level is below or slightly above the poverty threshold.</li>
<li><b>Level 2 - $25,000-$74,999:</b>
In 2018, the national middle-income range was between USD48K and 145.5K. 
This income level is slightly above poverty threshold and includes lower and 
mid-income households.</li>
<li><b>Level 3 - Income Level III - $75,000 or higher:</b>
This income level includes mid-income households and upper-income households.</li>
</p>
<p>
<em>Food Consumption</em>
<br>The balloon chart can hardly show the difference in food groups based on the income 
level. However, when hovering over the food group consumption proprotion by income level, 
we can start spotting differences. In fact, the food group consumption shows discrepancy in healthier food group groups, such as vegetables, fruits, wholegrain
and yoghurt based on the income level. The children from higher income-level households 
consumes relatively more whole grains compared to the ones from lower income level, 
and the latter consumes much more refined
grains on the contrary.Individuals with higher consumption of refined grains are more prone to obesity based on scientific
researches. This becomes even clearer in the vegetable consumption – the children in higher income-level households consumes
various vegetables and fruits in larger quantity, while the children live below the income level of $25,000 leads in the
consumption of potatoes and fruit juice. This shows us that the children from higher-level income households have more access
to variety of healthier food group in comparison to the other.
</p>

<p>
<em>Nutrition Consumption</em>
<br>The nutrition consumption does not seem to show any distinct pattern based on the income 
level. 
</p>
</body>
</html>
