<html>

<body>

<p style="text-align:justify">
To explore the difference in food group and nutrition consumption based on 
socioeconomic variables, the balloon chart on the right shows the <b>daily consumption 
level</b> of each and every nutrition and food group intake of each income level. 
The sunburst chart in
<b>Daily Consumption Proportion</b> compare the proportion that each nutrition 
or food group takes in a child's daily consumption of total food/nutrition,
</p>

<p style="color:orange;"><b>Select Food Group or Nutrition for comparison on the 
menu bar. The data is controlled based on the year selected with the slider.
</b></p>

<p style="text-align:justify">Five Race/Ethnic Groups were studied between 2007 and 2015:
  <br><b>Non-Hispanic White</b>,<b>Non-Hispanic Black</b>,
  <b>Non-Hispanic Asian</b>,<b>All Hispanics</b>, and <b>Mexican American</b>. 
  Mexican Americans were categorised seperately from All hispanics until 2009, while 
  Asians were counted into the statistics from 2011 onwards. 
</p>

<p style="text-align:justify">
<em>Food Consumption</em>
<br>Unlike comparison by income groups, the food and nutrition consumption based on 
different race/ethnic groups shows more distinct patterns. The consumption pattern of 
African American and Asians are especially noteworthy - the former shows significantly less consumption 
in fruits, whole grains, and yoghurts but high consumption in added sugars,while the 
latter consumes significantly more vegetables, seafood, fruits, but less starchy vegetables,
cured meat, cheese, or added sugars. In fact, the consumption pattern of food groups by 
Asian children differs from other ethnic/race groups in the U.S. This could explain the 
reason behind relatively low child obesity rate in this particular race group. 
</p>

<p style="text-align:justify">
<em>Nutrition Consumption</em>
<br>The nutrition consumption does not seem to show any distinct pattern based on the race
and ethnic group.
</p>
</body>
</html>
