<html>

<head>
</head>

<body>

<p style="text-align:justify">

In 2015, South Korean adolescents were recorded as the ‘physically most inactive 
students’ – with only 36% of the adolescents actually engaging in any type of 
physical activity outside of school hours. Meanwhile, almost 62% of adolescents 
in the US answered that they engage in vigorous activity outside of school, 
ranking the fourth most physically active adolescents amongst OECD countries. 
On the other hand, in the same year, the US also recorded the highest child 
obesity rate in the OECD, with almost 20% of the youth identified as 
obese, while the physically most inactive youths in OECD, South Koreans, rated 
15%. 

The rotated side-to-side bar chart clearly shows the difference in physical 
activities and obesity rate of four OECD countries – the U.S, South Korea, 
Japan, and Australia. </p>

<p style="color:orange;"><b>Mouseover to reveal the numeric values of each variable of each state.</b></p>

<p style="text-align:justify">South Korean youths spend the most amount of time sitting 
in front of the desk and are the least physically active youths amongst the 
OECD countries. However, the obesity rate of South Korean youth is almost half 
of that of the U.S. Australian youths, on the other hand, are slightly less 
active than the ones from the U.S but the youth obesity rate is still much 
lower in comparison. Meanwhile, Japanese youth obesity rate is almost half of 
that of the U.S and it has been the lowest amongst the OECD countries for the 
last 20 years. This sparked my interest to take a closer look at the obesity 
rate and the U.S and thus I decided to answer the following questions:</p>

<p style="text-align:justify"><b>
<li>Do socioeconomic variables impact the child obesity in the U.S?</li>
<br>
<li>Lower output or higher input – How does the nutrition and food intake of 
  children in the U.S differ from those from the rest of the first world 
  countries?</li></b></p>
</body>
</html>
